body {
  position: relative; 
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.1rem;
    padding-right: 1.4rem; }

/* Default styles for nav links */
.nav-link {
  font-family: 'Poppins', sans-serif;
  color: #03058E;
  transition: color 0.3s; /* Add a smooth color transition */
}

/* Hover state */
.nav-link:hover {
  color: #ffd700; /* Change color on hover */
}

/* Active state (current page) */
.navbar .nav-item.active .nav-link {
  color: #000080; /* Change color for the active link */
}

/* Focus state (when link is focused, like when tabbing through links) */
.nav-link:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 5px rgba(0, 0, 128, 0.5); /* Add a subtle box shadow for focus */
}

/* Add more styles for other link states if needed */
.btn-outline-primary{
  background-color: #000080;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/*
.navbar .nav-item.active {
  border-left: #444 3px solid;
}*/

.carousel-item {
  height: 450px;
  
}

.text-color {
  color: #000080;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
 }


/* Adjust height for small screens */
@media (max-width: 767px) {
  .carousel-item {
    height: auto; /* Adjust the height as needed for small screens */
  }
}

