body {
  position: relative; 
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

.nav-link {
  font-family: "Poppins Regular";
  color: #03058E;

}
.btn-outline-primary{
  background-color: #000080;
  color: #fff;
  font-family: "Poppins Regular";
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 700px;
}
